@import 'semantic.scss';

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 100%;
}

.main {
    @media (min-width: $xs) {
        width: 100vw;
    }
    @media (min-width: $sm) {
        $mainMargin: 2em;
        margin: $mainMargin;
        width: calc(100vw - 2 * $mainMargin);
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px;
    border-radius: 6px;
}

.mainContent {
    @include limitMainContentWidth();
    @include pagePadding();
}
