@import 'semantic.scss';

.subscribeSectionContainer {
    text-align: left;
    max-width: 800px;
}

.messageSuccess {
    font-size: 18px;
    font-weight: 800;
}

.priorityCodeLabel {
    font-size: 8px;
    margin-top: 12px;
    height: 20px;
}
