name: Check dead links

on:
    schedule:
        - cron: '0 0 * * 0'
    workflow_dispatch:

jobs:
    my-broken-link-checker:
        name: Check broken links
        runs-on: ubuntu-latest
        steps:
            - name: Run Broken Link Checker
              uses: ruzickap/action-my-broken-link-checker@v1.0.3
              with:
                  url: YOURURL
